// main: core.less
@brand-color-1: #BE202E;
@brand-color-2: #df691a;
@lupus-gray-0: #F8F8F8;
@lupus-gray-1: #E6E9EC;
@lupus-gray-2: darken(#F7F8F9,5%);
@lupus-gray-3: darken(@lupus-gray-2,5%);
@lupus-gray-4: darken(@lupus-gray-3,5%);
@lupus-gray-5: darken(@lupus-gray-4,5%);
@lupus-gray-6: darken(@lupus-gray-5,5%);
@lupus-gray-7: darken(@lupus-gray-6,5%);
@lupus-gray-8: darken(@lupus-gray-7,5%);
@lupus-gray-18: darken(@lupus-gray-8,50%);


