
   
        <p>Şehirleri şehir yapan, yaşanabilir kılan ve çoğunlukla göz önünde olmayan altyapı sistemleri genellikle çoğu kesim tarafından dikkate alınmaz. Ancak lağım taştığında farkettiğimiz, şehirlerimizi örümcek ağı gibi saran altyapı sistemlerini projelendirmek ve inşaa etmek büyük bir uzmanlık gerektirir.</p>
        <p>Sarıyer Barajı gibi büyük projelerde yüklenicilik yapmış YBE Yapı, altyapı inşaatlarınızda profesyonel ve hızlı çözümler sunar.</p>
        <p>
        Altyapı konusunda verdiğimiz hizmetler aşşağıda listelenmiştir.</p>
        <h3>Su</h3>
            <p>Yer üstü, yer altı ve bina içi su sistemleri ve tesisatı.</p>
        <h3>Kanalizasyon</h3>
        <p>Yer üstü, yer altı ve bina içi kanalizasyon sistemleri ve tesisatı.</p>
        <h3>Elektrik</h3>
            <p>Yer üstü, yer altı ve bina içi elektrik sistemleri ve tesisatı.</p>
        <h3>Su Kaçak Tespiti</h3>
            <p>Yer altı ve duvar, tavan içi elektronik dedektörler ile kaçak tespiti ile onarımı. </p>

        <h3>Havalandırma</h3>
            <p><a href="http://www.koyturpilic.com/">Köytür Yem Fabrikaları</a> gibi endüstriyel seviyede havalandırma sistemleri. </p>
        <h3>Mekanikleri</h3>
        <h3>Yeraltı Odaları</h3>
        <h3>Soğuk hava depoları</h3>
        <h3>Süt İşletmesi</h3>
        <h3>Parke</h3>
        <h3>Merdiven</h3>
        <h3>Krom Çalışmaları</h3>
       <!-- Köy Tür Yem Fabrikaları, 
        ?

    4x3m Branda

    Kartvizit ve Dosya
    YBE Teklif Kalıbı-->