<!-- <p>
    2009 yılında kurulduk. Dedemiz ...'nın M.K.Atatürk'ten aldığı emir ile bu yola çıktık.
    Alman taşeron autowober alman taşeron,
    Ernst Egli, Theodor Jost, Martin Wagner, Martin Elsaesser, Bruno Taut, Robert Oerley
    ulus, sarıyer barajı,  12 yaşında bu işleri iyi öğrenin paramız ülkemizde kalsın.
    Şevket Bidal. Ankaranın her noktasında devlet hastaneleri, mekanik, taşeronluk,
    sitelerdeki ahşap atölyelerinde mutfak ve banyo mobilyaları, doğal ahşap kapılar,
    4. nesle taşayacağız.
    ENKA, şevron, bektel,
</p>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>
            Orta Anadolu bozkırlarının ortasında, Ankara adında küçük bir kasaba, genç bir cumhuriyetin başkenti olmuştu. Kasabada, daha doğrusu yeni kurulan başkentde bir ülkenin geleceğini yönetecek olmanın sorumluluğunu kaldırabilmek için yoğun bir uğraş veriliyordu.
            </p>
            <p>
            Genç cumhuriyet, neredeyse 100 yıldır süren bitmek bilmez bir savaş hali yüzünden harap olmuş topraklar üzerine kurulmuştu. Buna rağmen bu genç ülke dünyanın dört bir yanından ünlü mimar ve mühendisleri topraklarına davet ediyor, ülkenin yönetim ve kültür merkezi olacak bu şehrin baştan kurulmasına yardım edebilmeleri için aralarında yarışmalar düzenleniyor, ihaleler açılıyordu.
            </p>
            <p>
            Ernst Egli, Theodor Jost, Martin Wagner, Martin Elsaesser, Bruno Taut, Robert Oerley gibi ünlü mimar ve mühendisler, kurak bozkırın ortasında yepyeni bir şehir kuruyorlardı.
            </p>
            <p>
            Genç cumhuriyet, böyle ünlü isimleri ülkeye şekil vermeleri için çağırırken bir yandan da bir burukluk içindeydi. Bu hissin nedeni ise kendi ülkemizin inşaatı için yabancılardan yardım istiyor ve inşaatın her aşamasını onlara yaptırıyor olmaktan kaynaklanıyordu. Bu burukluğu en çok hisseden kişilerin başında ise genç cumhuriyetin ilk cumhurbaşkanı  M. K. Atatürk geliyordu.
            </p>
            <p>
            Gazi, halkından aldığı destek ile bir destan yazmış, birinci dünya savaşının gayrı resmi sonunu getiren ve belkide victoria döneminin bir diğer deyişle sömürge devrinin bitişine vesile olan bir zafer kazanmıştı. Bu kahraman halkın savaşta kazandıklarını koruyabilmesi için güçlü bir ülke olması gerektiğini biliyordu. Her açıdan güçlü ve kendine yeten bir ülke olabilmek için ise sanayinin her alanında yer edinmek gerekliliğinin de farkındaydı. İşte burukluğunun sebebi buydu ancak bu burukluk aynı zamanda ümit ile birlikte geliyordu. Bu ülkenin bir geleceği vardı ve bu geleceği o zamanın gençleri getirecekti.
            </p>
            <p>
            İşte muhtemelen de bu düşünceler eşliğinde Atatürk, Ankara'nın Ulus semtinde şimdi her biri tarihi eser olarak kabul edilen inşaatların birini teftiş ediyordu. Bina, bir Alman mimar tarafından tasarlanmış ve yine bir Alman taşeron tarafından inşaa ediliyordu. Atatürk inşaat alanını ve  çalışan işçileri izliyordu. Bütün inşaatta yerli olan tek şey inşaat taşları ve işçiler idi. Aniden inşaat alanına girdi ve işçilerin arasına yürüdü. İşçiler böylesine büyük bir şahsiyetin yanlarında olmasından dolayı şaşkın ve ne yapacaklarını bilemez haldeydiler.
            </p>
            <p>
            İşte o işçilerin arasında 12 yaşında bir genç de yer alıyordu. Bu kişi dedemiz <b>Şevket Bidav</b>'ın ta kendisi idi. Atatürk, bu genç adamın önünde durdu ve devam eden inşaatı gösterdi. "Bunların nasıl yapıldığını iyi öğren." dedi ve ekledi "İyi öğren ki bu inşaatları kendimiz yapabilelim, ülkenin parası ülkede kalsın."
            </p>
            <p>
            Genç Şevket Bidav, o emre uydu ve o emri miras olarak oğuluna onun oğlu ise kendi oğluna bıraktı. Dört nesildir aile geleneği olan inşaat sektöründe 91 yıldır alnımızın akı ile hizmet veriyoruz. En yüksek mertebeden aldığımız bu emri yerine getirmeye devam ediyoruz.
            </p>
        </div>
    </div>
</div>