<div class="container-fluid full-height lupus-scroll">
    <div class="row">
        <div class="col-md-12">
            <h1 class="header-ybe small">İnşaat Sektöründe <span class="shuffle-letter" shuffle-letters>91</span> yıllık tecrübe.</h1>
            <h1 class="header-ybe small">
            <span class="shuffle-letter" shuffle-letters>100.000.000+</span> TL iş bitirme.
            </h1>
            <h1 class="header-ybe small">
            <span class="shuffle-letter" shuffle-letters>2500+ </span> Tadilat.
            </h1>
            <h1 class="header-ybe small">
            <span class="shuffle-letter" shuffle-letters>33 </span> Ülke.
            </h1>
            <h1 class="header-ybe small">
            <span class="shuffle-letter" shuffle-letters>6+ </span> Özel Proje.
            </h1>
            <h1 class="header-ybe small">
            <span class="shuffle-letter" shuffle-letters>300+ </span> Mağaza ve Showroom tasarımı.
            </h1>
            <p style="text-align:justify">İnşaat sektöründe Cumhuriyet ile yaşıt tecrübeye sahip bir aile firması olarak kurulduk. 2009 yılında kurumsallaşarak markalaşma çalışmalarımıza başladık. Her ölçekte taahüt, yapı kimyasalları Ar-Ge'si, tarihi yapı restorasyonu gibi bir çok alanda da kendi bünyesinde veya iştirak bazında faaliyet gösteren firmamız, kurulduğu günden bu yana %1650 büyüme kaydetmiştir.
            </p>
            <a href="/biz" class="btn pull-right" style="background-color:#030303;color:#f0f0f0;">Hakkımızda daha fazlasını öğrenmek için</a>
        </div>
    </div>
</div>

Nevşehir de kız manastırı. Kültür bakanlığı ile birlikte. Otel olacak. 
Bilken  nano teknolojileri. Dış cephe, labaratuvar tezgahları.

