<div class="content-inner-wrapper" data-ng-init="
map = {
    center: {
	    latitude: 39.9225293,
	    longitude: 32.855021,
    }
};
p = {
    'id': 2,
    'path': [
	    { 'latitude': 39.9225293, 'longitude': 32.855021 }, 
	    { 'latitude': 39.93445811113077, 'longitude': 32.787925720214844 }, 
	    { 'latitude': 39.94069952838216, 'longitude': 32.787818908691406 }],
    'editable': false,
    'draggable': false,
    'geodesic': false,
    'visible': true,
    'stroke': { 'color': '#CDD5DC', 'weight': 1 },
    'fill': { 'color': '#e8ebee', opacity:1}
}">
    <div class="middle">
        <google-map center="map.center" zoom="14" draggable="true">
        <polygon path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable"></polygon>
        </google-map>
    </div>
</div>