<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <address>Aydınlar Mh., Hürriyet Cd., No:129 / A, 06830, Çankaya/Ankara, Türkiye</address>
            <br><span> <span class="glyphicon glyphicon-earphone"></span> +90 312 483 19 91</span>
            <br><span> <span class="glyphicon glyphicon-file"></span> +90 312 483 18 81</span>
            <br><span> <span class="glyphicon glyphicon-envelope"></span> info@ybeyapi.com</span>
        </div>
    </div>
</div>