<img src="modules/core/img/banners/restorasyon.jpg" alt="" class="img-responsive">
<img src="modules/core/img/banners/nevsehir-kiz-manastiri-restorasyonu-1.jpg" alt="" class="img-responsive">
<img src="modules/core/img/banners/nevsehir-kiz-manastiri-restorasyonu-2.jpg" alt="" class="img-responsive">
<img src="modules/core/img/banners/nevsehir-kiz-manastiri-restorasyonu-3.jpg" alt="" class="img-responsive">
<img src="modules/core/img/banners/aziz-gregorius-kilisesi-kilise-cami.jpg" class="img-responsive">
<img src="modules/core/img/banners/aziz-gregorius-kilisesi-tamir-tadilat-1.jpg" alt="" class="img-responsive">
<img src="modules/core/img/banners/aziz-gregorius-kilisesi-tamir-tadilat-2.jpg" alt="" class="img-responsive">
<img src="modules/core/img/banners/aziz-gregorius-kilisesi-tamir-tadilat-3.jpg" alt="" class="img-responsive">
