<div class=" lupus-scroll full-height" data-ng-init="images = [{
                    src: 'modules/core/img/banners/maui-wowi-ankara.jpg',
                    loaded: false,
                    error: false
                },{
                src:'modules/core/img/banners/erzincan-mandira-dis-cephe.jpg',
                    loaded: false,
                    error: false
                },{
                src:'modules/core/img/banners/erzincan-mandira-reyon-tasarimi.jpg',
                    loaded: false,
                    error: false}];">
    <div lupus-slide-master></div>
</div>
