.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 31px;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.form-horizontal .form-group-lg .form-control {
  height: 52px;
  padding: 12px 24px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 0;
}
.btn-group-lg > .btn {
  padding: 12px 24px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 0;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
body,
html {
  height: 100%;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.padding0 {
  padding-left: 0;
  padding-right: 0;
}
.angular-google-map {
  height: 100%;
  width: 100%;
}
.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* LAYOUT */
.right-main-content {
  position: relative;
  background-color: silver;
  overflow-x: hidden;
  overflow: hidden;
  height: 100%;
}
.content-outer-wrapper {
  height: 100%;
}
.content-inner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #cbd2d8;
}
.header-inner-wrapper {
  width: 100%;
  height: 100%;
}
.middle {
  position: relative;
  height: 100%;
  width: 100%;
}
.header-inner-wrapper {
  border-right: 11px solid #dadee3;
  background-color: #f8f8f8;
  -moz-box-shadow: inset -5px 0 5px rgba(79, 80, 81, 0.6);
  -webkit-box-shadow: inset -5px 0 5px rgba(79, 80, 81, 0.6);
  box-shadow: inset -5px 0 5px rgba(79, 80, 81, 0.6);
  position: relative;
}
.header-inner-wrapper .vertical-header {
  width: 35px;
  position: absolute;
  right: 0;
}
.header-inner-wrapper .vertical-header h1 {
  white-space: nowrap;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin: 0;
  color: #dadee3;
  -webkit-text-shadow: 0 -5px 5px rgba(79, 80, 81, 0.6);
  text-shadow: 0 -5px 5px rgba(79, 80, 81, 0.6);
  font-size: 49px;
  height: 40px;
  font-weight: 900;
  font-style: italic;
  float: right;
  position: absolute;
  right: 19px;
  overflow: hidden;
  padding-right: 10px;
}
.content-inner-wrapper p {
  padding: 20px;
}
/***************************** /LAYOUT */
h1,
h3 {
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  z-index: 1001;
}
h3 {
  padding-left: 20px;
}
.navigation-button {
  border-top: 1px solid #090909;
  font-size: 12px;
  position: relative;
  height: 50px;
  text-align: center;
  width: 100%;
}
.navigation-button.navigation-button:last-child {
  border-bottom: 1px solid #090909;
}
.navigation-button .navigation-button-wrapper-lvl1 {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1002;
}
.navigation-button:hover .navigation-button-wrapper-lvl1 {
  -webkit-animation-name: navigationButtonLvl1Hover;
  animation-name: navigationButtonLvl1Hover;
}
.navigation-button:hover a {
  color: black;
  text-decoration: none;
}
.navigation-button a {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  position: relative;
  z-index: 1003;
  line-height: 50px;
}
.brand-wrapper {
  padding: 10px;
}
.brand-wrapper:hover {
  background-color: #222222;
}
/******************* ÖZEL *************************/
.home h1 {
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 5px 5px 5px rgba(121, 121, 121, 0.5);
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}
.header-inner-wrapper.home {
  border: none;
}
/*===========================*/
/* Angular Motion */
.am-fade-and-scale {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.am-fade-and-scale.am-fade-and-scale-add,
.am-fade-and-scale.ng-enter,
.am-fade-and-scale.ng-hide-remove,
.am-fade-and-scale.ng-move {
  -webkit-animation-name: fadeAndScaleIn;
  animation-name: fadeAndScaleIn;
}
.am-fade-and-scale.am-fade-and-scale-remove,
.am-fade-and-scale.ng-hide,
.am-fade-and-scale.ng-leave {
  -webkit-animation-name: fadeAndScaleOut;
  animation-name: fadeAndScaleOut;
}
.am-fade-and-scale.ng-enter {
  visibility: hidden;
  -webkit-animation-name: fadeAndScaleIn;
  animation-name: fadeAndScaleIn;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.am-fade-and-scale.ng-enter.ng-enter-active {
  visibility: visible;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.am-fade-and-scale.ng-leave {
  -webkit-animation-name: fadeAndScaleOut;
  animation-name: fadeAndScaleOut;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.am-fade-and-scale.ng-leave.ng-leave-active {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes fadeAndScaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeAndScaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeAndScaleOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@keyframes fadeAndScaleOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
/**/
/* My custom animations */
/*=====================================================*/
.lupus-page-transition {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
.lupus-page-transition.lupus-page-transition-add,
.lupus-page-transition.ng-enter,
.lupus-page-transition.ng-hide-remove,
.lupus-page-transition.ng-move {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1003;
  -webkit-animation-name: pageIn;
  animation-name: pageIn;
}
.lupus-page-transition.lupus-page-transition-remove,
.lupus-page-transition.ng-hide,
.lupus-page-transition.ng-leave {
  -webkit-animation-name: flipOutY;
  animation-name: flipOutY;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
.lupus-page-transition.ng-enter {
  visibility: hidden;
  -webkit-animation-name: pageIn;
  animation-name: pageIn;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.lupus-page-transition.ng-enter.ng-enter-active {
  visibility: visible;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.lupus-page-transition.ng-leave {
  -webkit-animation-name: flipOutY;
  animation-name: flipOutY;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.lupus-page-transition.ng-leave.ng-leave-active {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes pageIn {
  from {
    opacity: 0;
    -webkit-transform: translate(3200px, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pageIn {
  from {
    opacity: 0;
    transform: translate(3200px, 33%);
  }
  to {
    opacity: 1;
    transform: translate(0, 33%);
  }
}
@-webkit-keyframes pageOut {
  0% {
    opacity: 1;
  }
  70% {
    -webkit-transform: rotateY(65deg);
    -webkit-perspective: 100px;
  }
  100% {
    transform: translate3d(0, 0, 200px);
    opacity: 0;
  }
}
@keyframes pageOut {
  0% {
    opacity: 1;
  }
  70% {
    transform: rotateY(65deg);
    perspective: 100px;
  }
  100% {
    transform: translate3d(0, 0, 200px);
    opacity: 0;
  }
}
/*================ HEADER ============================*/
.lupus-header-transition {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.lupus-header-transition.lupus-header-transition-add,
.lupus-header-transition.ng-enter,
.lupus-header-transition.ng-hide-remove,
.lupus-header-transition.ng-move {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1003;
  -webkit-animation-name: headerIn;
  animation-name: headerIn;
}
.lupus-header-transition.lupus-header-transition-remove,
.lupus-header-transition.ng-hide,
.lupus-header-transition.ng-leave {
  -webkit-animation-name: headerOut;
  animation-name: headerOut;
}
.lupus-header-transition.ng-enter {
  visibility: hidden;
  -webkit-animation-name: headerIn;
  animation-name: headerIn;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.lupus-header-transition.ng-enter.ng-enter-active {
  visibility: visible;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.lupus-header-transition.ng-leave {
  -webkit-animation-name: headerOut;
  animation-name: headerOut;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.lupus-header-transition.ng-leave.ng-leave-active {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes headerIn {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 3200px);
  }
  to {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes headerIn {
  from {
    opacity: 0;
    transform: translate(0, 3200px);
  }
  to {
    opacity: 1;
    transform: translate(0, 33%, 0);
  }
}
@-webkit-keyframes headerOut {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes headerOut {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
/*==========================================================*/
@-webkit-keyframes navigationButtonLvl1Hover {
  0% {
    background-color: #df691a;
    -webkit-transform: scale(0.01);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    background-color: white;
  }
}
@keyframes navigationButtonLvl1Hover {
  0% {
    background-color: #df691a;
    transform: scale(0.01);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: white;
  }
}
/**/
/* animate.css*/
@-webkit-keyframes flipOutY {
  0% {
    -webkit-transform: perspective(1000) rotateY(0deg) scale(1);
    transform: perspective(1000) rotateY(0deg) scale(1);
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(1000) rotateY(-90deg) scale(0.8);
    transform: perspective(1000) rotateY(-90deg) scale(0.8);
    opacity: 0;
  }
}
@keyframes flipOutY {
  0% {
    -webkit-transform: perspective(1000) rotateY(0deg) scale(1);
    -ms-transform: perspective(1000) rotateY(0deg) scale(1);
    transform: perspective(1000) rotateY(0deg) scale(1);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(-90deg) scale(0.8);
    -ms-transform: perspective(400px) rotateY(-90deg) scale(0.8);
    transform: perspective(400px) rotateY(-90deg) scale(0.8);
    opacity: 0;
  }
}
@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -ms-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
/*======*/
